name: Test Dockerized Python App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Build Docker image
      run: docker-compose build

    - name: Run tests
      run: docker-compose run relink_app python -m unittest discover

    - name: Push Docker image to GitHub Container Registry (optional)
      run: |
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
        docker tag your-image:tag ghcr.io/${{ github.repository_owner }}/your-image:tag
        docker push ghcr.io/${{ github.repository_owner }}/your-image:tag
